# Build output
dist/
.output/

# Dependencies
node_modules/

# Astro cache
.astro/

# Environment variables (JANGAN pernah commit ini)
.env
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp
